<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Angular Form Validation</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-controller="myController">
<div class="container">
	<h1>AngularJS Form Validation</h1>
	<div class="content">	
		<form name="contactForm" novalidate>
			<div class="form-group">
				<label class="sr-only" for="name">Name :</label>
				<input type="text" class="form-control" name="name" placeholder="Name" ng-required="true" ng-model="contact.name">
				<div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
					<small style="color:red; display:block; text-align:center;">Enter a valid name</small>
				</div>
				<br>
				<table class="table">
					<thead>
						<tr>
							<th>$pristine</th>
							<th>$dirty</th>
							<th>$untouched</th>
							<th>$touched</th>
							<th>$invalid</th>
							<th>$valid</th>
							<th>$errors</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{contactForm.name.$pristine}}</td>
							<td>{{contactForm.name.$dirty}}</td>
							<td>{{contactForm.name.$untouched}}</td>
							<td>{{contactForm.name.$touched}}</td>
							<td>{{contactForm.name.$invalid}}</td>
							<td>{{contactForm.name.$valid}}</td>
							<td>{{contactForm.name.$error}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="form-group">
				<label class="sr-only" for="email">Email address:</label>
				<input type="email" class="form-control" name="email" placeholder="Email" ng-required="true" ng-model="contact.email" >
				<div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
					<small style="color:red; display:block; text-align:center;">Enter a valid email</small>
				</div>
				<br>				
				<table class="table">
					<thead>
						<tr>
							<th>$pristine</th>
							<th>$dirty</th>
							<th>$untouched</th>
							<th>$touched</th>
							<th>$invalid</th>
							<th>$valid</th>
							<th>$errors</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{contactForm.email.$pristine}}</td>
							<td>{{contactForm.email.$dirty}}</td>
							<td>{{contactForm.email.$untouched}}</td>
							<td>{{contactForm.email.$touched}}</td>
							<td>{{contactForm.email.$invalid}}</td>
							<td>{{contactForm.email.$valid}}</td>
							<td>{{contactForm.email.$error}}</td>
						</tr>
					</tbody>
				</table>			
			</div>
			<div class="form-group">
				<label class="sr-only" for="message">Comments : </label>
				<textarea class="form-control" placeholder="Your Message" name="message" ng-required="true" ng-model="contact.message"></textarea>
				<div ng-show="contactForm.message.$touched && contactForm.message.$invalid">
					<small style="color:red; display:block; text-align:center;">Enter comments</small>
				</div>
				<br>					
				<table class="table">
					<thead>
						<tr>
							<th>$pristine</th>
							<th>$dirty</th>
							<th>$untouched</th>
							<th>$touched</th>
							<th>$invalid</th>
							<th>$valid</th>
							<th>$errors</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{contactForm.message.$pristine}}</td>
							<td>{{contactForm.message.$dirty}}</td>
							<td>{{contactForm.message.$untouched}}</td>
							<td>{{contactForm.message.$touched}}</td>
							<td>{{contactForm.message.$invalid}}</td>
							<td>{{contactForm.message.$valid}}</td>
							<td>{{contactForm.message.$error}}</td>
						</tr>
					</tbody>
				</table>			
			</div>
			<input type="submit" value="send"  class="btn btn-primary" ng-disabled="contactForm.$invalid">
		</form>
	</div>	
</div>	
	<script src="https://code.angularjs.org/1.6.1/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>